<div class="wrapper-authentication">
    <div>
    <div class="wrapper-authentication--card">
        <h4 class="text-center pt-2 pb-2">Authenticacion</h4>
        <div class="mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="name@example.com"
                   [(ngModel)]="username">
        </div>
        <div class="mb-3">
            <input type="password"
                   class="form-control"
                   placeholder="name@example.com"
                   [(ngModel)]="password">
        </div>
        <div class="mb-2">
          <button type="submit" class="btn btn-primary mb-3 w-100" (click)="onClickIngresar()">Ingresar</button>
        </div>
    </div>
</div>
</div>